@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), local('Roboto-Regular'),
  url('./Roboto.woff2') format('woff2'),
  url('./Roboto.woff') format('woff'),
  url('./Roboto.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Medium'), local('Roboto-Medium'),
  url('./RobotoMedium.woff2') format('woff2'),
  url('./RobotoMedium.woff') format('woff'),
  url('./RobotoMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Bold'), local('Roboto-Bold'),
  url('./RobotoBold.woff2') format('woff2'),
  url('./RobotoBold.woff') format('woff'),
  url('./RobotoBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
