@import "./fonts/Roboto.css";

* {
  font-family: 'Roboto', sans-serif !important;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-button {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  width: 4px;
  background: rgba(0, 0, 0, 0.05);
  border: 4px solid #fff;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 0;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
