@import "./fonts/Roboto.css";

* {
  font-family: 'Roboto', sans-serif !important;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-button {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: #2979FF;
  border: none;
  border-radius: 0;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.01);
  border: none;
  border-radius: 0;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
